/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock/.idea
/laradock/logs
/laradock/data

/laradock/.project
/laradock/.docker-sync
/laradock/jenkins/jenkins_home

/laradock/logstash/pipeline/*.conf
/laradock/logstash/config/pipelines.yml

/laradock/nginx/ssl/*.crt
/laradock/nginx/ssl/*.key
/laradock/nginx/ssl/*.csr

/laradock/.DS_Store
